spring:
  application:
    name: us
  datasource:
    url: jdbc:mariadb://${DATABASE_URL}/us
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: 5b1fb9de79477be5c5c8f44f31953531c27686d42ea7cf1c1be2c406c473e91e
  access: 6000000
  refresh: 172800000