name: CI
on:
  push:
    branches: ['main']
jobs:
  build-docker-image:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      DATABASE_USER: ${{ secrets.DATABASE_USERNAME }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}

    steps:
      - uses: actions/checkout@v3

      - name: Environment check
        run: env | grep DATABASE_URL | grep DATABASE_USERNAME | grep DATABASE_PASSWORD | grep DOCKERHUB_USERNAME | grep DOCKERHUB_PASSWORD

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build

      - name: Docker image build
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/us-backend

      - name: Dockerhub login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Docker image push
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/us-backend